$primaryColor1: #00b39b;
$primaryColor2: #ababab;
$card1Color: #00ccb1;
$card2Color: #3d83df;
$card3Color: #1b2734;
$cardTextColor: #fff;
$mainTextColor: #747474;
$backgroundColor: #d0faf4;
$footerColor1: #ababab;
$footerColor2: #337ab7;
$textColor: #bde0fe;
$countryBtn: #3d83df;